# Node modules
node_modules/
# Expo
.expo/
.expo-shared/
dist/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Environment
.env
.env.local

# IDEs
.vscode/
.idea/

# Temporary files
*.log
*.swp
*.swo
*~

# Build
build/
